---
interface Props {
  name: string;
  id?: string;
  class?: string;
  container?: string;
}

const { name, container, ...rest } = Astro.props;
---

<section class={name} {...rest}>
  <slot name="header" />
  <div class="container" class:list={container}>
    <slot />
  </div>
  <slot name="footer" />
</section>
