<App title="Экспертиза часов">
  <!-- Page Header -->
  <ThePageHeader />
  <!-- Service -->
  <TheSection name="service">
    <H1>ЭКСПЕРТИЗА</H1>
    <H2>ЭЛИТНЫХ ЧАСОВ</H2>
    <P>
      Также как внедрение современных методик требует анализа прогресса
      профессионального сообщества. Являясь всего лишь частью общей картины,
      представители современных социальных резервов объективно рассмотрены
      соответствующими инстанциями.
      <br /><br />
      И нет сомнений, что интерактивные прототипы и по сей день остаются уделом либералов,
      которые жаждут быть ассоциативно распределены по отраслям. Каждый из нас понимает
      очевидную вещь: социально-экономическое развитие, в своём классическом представлении,
      допускает внедрение переосмысления внешнеэкономических политик! Как принято
      считать, элементы политического процесса указаны как претенденты на роль ключевых
      факторов.
    </P>
    <Img class="service__img" src="service-clock.png" />
  </TheSection>
  <!-- About -->
  <TheAbout />
  <!-- Process -->
  <TheProcess />
  <!-- Application -->
  <TheApplication title="Виды экспертиз" formTitle="Оцените часы">
    <ul class="sm:text-xl">
      <li>
        Проверка подлинности изделий. Сделанные в кустарных условиях модели
        выдаются за модели именитых брендов. Проверка таких изделий отличается
        особой сложностью – определить принадлежность модели к определенному
        бренду крайне сложно.
      </li>
      <li>
        Анализ работы механизма и его состояния. Даже качественные часы грешат
        проблемами с ходовой частью – они используются реже дешевых механизмов,
        поэтому, «залеживаясь» теряют точность хода.
      </li>
      <li>
        Проверка на общее состояние и предыдущие ремонты. Бывшие в починке часы
        теряют в цене – подтверждение оригинальности работы механизма имеет
        высокое значение.
      </li>
    </ul>
  </TheApplication>
  <!-- Reviews -->
  <TheReviews />
  <!-- Map -->
  <TheMap />
  <!-- Bg -->
  <TheSection name="bg " only>
    <Img src="bg.png" only />
  </TheSection>
</App>
