<App title="Оценка часов">
  <!-- Page Header -->
  <ThePageHeader />
  <!-- Service -->
  <TheSection name="service">
    <H1>ОЦЕНКА</H1>
    <H2>ЭЛИТНЫХ ЧАСОВ</H2>
    <P>
      Также как внедрение современных методик требует анализа прогресса
      профессионального сообщества. Являясь всего лишь частью общей картины,
      представители современных социальных резервов объективно рассмотрены
      соответствующими инстанциями.
      <br /><br />
      И нет сомнений, что интерактивные прототипы и по сей день остаются уделом либералов,
      которые жаждут быть ассоциативно распределены по отраслям. Каждый из нас понимает
      очевидную вещь: социально-экономическое развитие, в своём классическом представлении,
      допускает внедрение переосмысления внешнеэкономических политик! Как принято
      считать, элементы политического процесса указаны как претенденты на роль ключевых
      факторов.
    </P>
    <Img class="service__img" src="service-clock.png" />
  </TheSection>
  <!-- About -->
  <TheAbout />
  <!-- Process -->
  <TheProcess />
  <!-- Application -->
  <TheApplication title="Виды экспертиз" formTitle="Оцените часы">
    <ul class="sm:text-xl">
      <li>Оценка часов занимает всего несколько минут;</li>
      <li>
        Клиентам гарантируется полная анонимность и конфиденциальность сделок;
      </li>
      <li>Квалифицированные оценщики и геммологи, индивидуальный подход;</li>
      <li>Осуществление деятельности в правовом поле;</li>
      <li>
        Оценка часов онлайн подойдёт, когда у клиента нет времени ехать в наш
        офис (потребуется фотография);
      </li>
      <li>Выплаты наличными или безналичным расчётом;</li>
      <li>Возможность получить более 70 миллионов рублей в день обращения.</li>
    </ul>
  </TheApplication>
  <!-- Reviews -->
  <TheReviews />
  <!-- Map -->
  <TheMap />
  <!-- Bg -->
  <TheSection name="bg " only>
    <Img src="bg.png" only />
  </TheSection>
</App>
